.info{
    display:grid;
    grid-template-columns: 35% auto;
    grid-template-rows: repeat(1,auto);
    grid-column-gap:5px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom:7px;
    overflow: hidden;
}
.info .menu{
    height:97%;
    float:left;
    padding:6px;
    background: #FFFFFF;
    box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0, inset 4px 4px 0px #7E7E7E;
}
.info .infotext{
    overflow-y: scroll;
    height: 97%;
    float: left;
    padding: 6px;
    background: #FFFFFF;
    box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0, inset 4px 4px 0px #7E7E7E;
}

button.title{
    overflow-y: auto;
    width:100%;
    margin:1px;
    padding:4px;
    text-align:left;
    background-color: white;
    box-shadow: none;
    font-family: 'M95';
}