.panel {
    display:grid;
    grid-template-columns: 102px repeat(5,auto) 220px;
    grid-auto-columns: minmax(102px, 150px);
    grid-template-rows: 48px;
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;

}

.panel button#start {
    border:none;
    background-color:#C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    margin: 6px;
    margin-top:7px;
    height: 70%;    
    width: 100px;
    font-size: 1.5em;
    text-align: left;
    float:left;
}

.panel button img {
    margin: 2%;
    max-height: 90%;
    float: left;
}

.panel button .text {
    margin-top:4%;
    font-family: "M95";
    margin-left:40%;
}


#data{
    margin-top:3px;
    margin-right:0px;
    margin-left:10px;
    background: #C3C3C3;
    box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0, inset 4px 4px 0px #7E7E7E;
    height:40px;
    width:200px;
    font-size: 1.4em;
    float:right;
}
#data img{
    float:left;
    max-height: 70%;
    margin:5px;
}

#data .text{
    margin-top:9px;
}